:host {
    height: 100%;
}

.bottom-bar {
    position: fixed;
    width: 100%;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
        height: 3.5rem;
    }
}

.gallery, uploads {
    margin: auto;
    width: 100%;
    max-width: 70rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    isolation: isolate;
    padding: .5rem 0;
    align-items: flex-start;

    @media (min-width: 30rem) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 45rem) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.uploads {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    position: sticky;
    max-height: 20vw;

    div {
        max-width: 20vw;
    }
}

a {
    z-index: 1;
}

source, img, video {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;

    vertical-align: bottom;
    max-width: min(100%, 100vw);
    padding: 0;
    margin: 0;

    &:hover {
        transition: transform 300ms, box-shadow 300ms, z-index .2s 300s;
        transform: scale(1.05);
        z-index: 2;
        box-shadow: 0 0 .5rem 0 rgba(22, 22, 22, .4);
    }
}

