<ng-container *ngIf="uploadApiService.uploads$ | async as uploads">
    <div *ngIf="uploads.length > 0" class="gallery uploads">
        <div *ngFor="let upload of uploads; let index = index" class="preview">
            <img [src]="upload.preview.previewImage" *ngIf="upload.preview.isImage"/>
            <video *ngIf="upload.preview.isVideo" controls>
                <source [src]="upload.preview.previewImage" [type]="upload.preview.file.type">
            </video>
            <p>{{ upload.preview.file.name }}</p>
        </div>
        <hr>
    </div>
</ng-container>
<div *ngIf="(galleryDataService.documents$ | async) as documents; else loading" class="gallery">
    <a *ngFor="let document of documents; trackBy: getDocumentId"
       [routerLink]="['', {relativeUrl: true, outlets: {overlay: ['details', document.id]}}]">
        <picture>
            <source
                *ngFor="let preview of document.previews"
                media="(min-width: 10px)"
                [srcset]="preview.path"
                [type]="preview.mime"
                loading="lazy"
            />
            <img [ngSrc]="document.previews[0]?.path || '/assets/images/placeholder-image.png'" loading="lazy"/>
        </picture>
    </a>
</div>
<ng-template #loading>
    <mat-icon>loading</mat-icon>
</ng-template>

<div class="bottom-bar">
    <!--
    <button mat-fab color="primary" title="Filter">
        <mat-icon>filter_list</mat-icon>
    </button>
    -->
    <button mat-fab extended (click)="showUpload()" color="primary">
        <mat-icon>upload</mat-icon>
        Upload
    </button>
</div>
