:host {
    position: relative;
    display: block;
    height: 100%;
}

.close-btn {
    position: absolute;
    right: .5rem;
    top: .5rem;
}

mat-card {
    display: grid;
    inset: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    grid-template-rows: minmax(0, 1fr) 4rem;
}

mat-card-actions {
    gap: 1rem;
    justify-content: center;
}

mat-card-content {
    display: grid;
    justify-content: center;
    align-content: center;
}

:host.fileover {
    mat-card-content {
        outline: 1px dashed red;
    }
}

.file-input {
    display: none;
}

.previews {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    justify-content: center;
    align-content: center;
    gap: .25rem;
}

.preview {
    aspect-ratio: 1/1;
    max-width: 20rem;
    display: grid;
    gap: .25rem;
    position: relative;
    animation: fadeIn ease-in-out 1s;

    button {
        position: absolute;
        right: 0;
        top: 0;
    }

    img, video {
        outline: 1px solid grey;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
