:host {
    position: relative;
    display: block;
    height: 100%;
}

div {
    display: grid;
    justify-items: center;
    align-items: center;
}

.close-btn {
    position: absolute;
    right: .5rem;
    top: .5rem;
}

mat-card {
    display: grid;
    inset: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    grid-template-rows: minmax(0, 1fr) 4rem;
}

mat-card-content {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: minmax(0, 1fr) 4rem;
}

img, video, source {
    max-width: min(100%, 100vw);
    max-height: min(100%, 100vh);
    animation: fadeIn ease-in-out 1s;
}

mat-card-actions {
    justify-content: center;
}
